.logo {
  display: block;
  color: var(--accent-color);

  font-family: 'Raleway';
  @include font(700, 26, 31, 0.03, none);

  &--black {
    color: var(--black-color-logo);
  }

  &--white {
    color: var(--white-color-logo);
  }
}
