/* SOCIAL NETS */

.social {
  @include dispay-vertical-horizontal-gap(inline-flex, center, center, 10px);

  &__txt {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.social__icon {
  fill: currentColor;
}

.social__link {
  @include flex-position-gap(center, null);
  min-width: 44px;
  min-height: 44px;
  @include font(500, 18, 22, 0.02, none);
  color: var(--social-icon-color);
  /* animation */
  @include transition(color, 250ms, null);

  &--background {
    border-radius: 50%;
    background-color: var(--bg-social-link);
  }
  @media screen and (max-width: $max-width-mob) {
    &:hover,
    &:focus {
      color: var(--title-text-color);
    }

    &--color {
      color: var(--accent-color);
    }
  }
  @media screen and (min-width: $min-width-tab) {
    border-radius: 50%;
    /* animation */
    @include transition-two(color, background-color, 250ms, null);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
      outline: none;
      color: var(--social-icon-color-hover);
    }
  }
}

.navigation-panel {
  & .social__link {
    max-height: 20px;
  }
  &__social {
    justify-content: flex-start;

    @include font(500, 18, 22, 0.02, none);

    @media screen and (max-width: 479.98px) {
      flex-wrap: wrap;
    }
    @media screen and (min-width: $min-width-tab) {
      display: none;
    }
  }
}
