.button {
  min-width: 200px;
  min-height: 50px;
  padding: 10px 28px;

  cursor: pointer;

  @include dispay-vertical-horizontal-gap(inline-flex, center, center, null);

  font-family: inherit;
  @include font(700, 16, 30, 0.06, null);

  color: var(--btn-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  border: 1px transparent;
  border-radius: 4px;
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;

  @include flex-position-gap(center, null);
  width: 30px;
  height: 30px;
  border-radius: 50%;

  background-color: var(--btn-bg-color-white);
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover .icon,
  &:focus .icon {
    transform: rotate(360deg);
    fill: var(--accent-color);
  }
}

.filter__button {
  min-width: auto;
  min-height: auto;

  padding: 6px 22px;

  color: var(--btn-text-color-secondary);

  background-color: var(--btn-bg-color-gray);
  box-shadow: none;

  @include font(500, 16, 26, 0.03, null);
  /* animation */
  @include transition-two(background-color, color, 250ms, null);
  &:hover,
  &:focus {
    color: var(--btn-text-color);
    background-color: var(--accent-color);
    outline: none;
  }
}
// -----------------------

.button__menu {
  z-index: 103;

  position: absolute;
  top: 10px;
  right: 15px;

  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  @include transition(color, 250ms, null);
  &:hover {
    color: var(--accent-color);
  }

  @media screen and (min-width: $min-width-tab) {
    display: none;
  }
}

.button__menu .icon-menu-closed {
  display: none;
  fill: currentColor;

  @media screen and (min-width: $min-width-tab) {
    display: none;
  }

  @media screen and (min-width: $min-width-desc) {
    display: none;
  }
}

.button__menu .icon-menu {
  display: block;
  fill: currentColor;

  @media screen and (min-width: $min-width-tab) {
    display: none;
  }
}

.button__menu.is-open .icon-menu-closed {
  position: absolute;
  top: 10px;
  right: 15px;

  display: block;
  @media screen and (min-width: $min-width-tab) {
    display: none;
  }
}

.button__menu.is-open .icon-menu {
  display: none;
  fill: currentColor;

  @media screen and (min-width: $min-width-tab) {
    display: none;
  }
}
// =============
.menu-container {
  display: none;

  @media screen and (min-width: $min-width-tab) {
    display: flex;
    flex-grow: 1;
  }
}

.menu-container.is-open {
  // position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 102;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100vh;

  padding: 48px 40px;

  background-color: #fff;
}
