.hero {
  padding: 118px 0;

  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-size: cover;
  background-position: center;
  background-color: var(--bg-color-black);
  background-repeat: no-repeat;

  // mobile screens
  background-image: var(--hero-gradient-color), url(./images/hero/hero-bg_sm.jpg);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: var(--hero-gradient-color), url(./images/hero/hero-bg_sm@2x.jpg);
  }

  // tablet screens
  @media screen and (min-width: 768px) {
    background-image: var(--hero-gradient-color), url(./images/hero/hero-bg_lg.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--hero-gradient-color), url(./images/hero/hero-bg_lg@2x.jpg);
    }
  }

  // desktop screens
  @media screen and (min-width: 1200px) {
    background-image: var(--hero-gradient-color), url(./images/hero/hero-bg_x-lg.jpg);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--hero-gradient-color), url(./images/hero/hero-bg_x-lg@2x.jpg);
    }
  }

  @media screen and (min-width: $min-width-desc) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
  }
  &__title {
    @media screen and (max-width: 479.98px) {
      width: 100%;
    }

    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    width: 360px;

    color: var(--title-white-color);

    @include font(900, 26, 42, 0.06, null);
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: $min-width-desc) {
      width: 696px;
      @include font(900, 44, 60, 0.06, null);
    }
  }
}
