.logo {
  display: inline-block;
  color: var(--accent-color);

  font-family: 'Raleway';
  @include font(700, 24, 28, 0.03, none);

  &--black {
    color: var(--black-color-logo);
  }

  &--white {
    color: var(--white-color-logo);
  }

  @media screen and (min-width: $min-width-mob) {
    display: inline-block;
    @include font(700, 24, 28, 0.03, none);
  }

  @media screen and (min-width: $min-width-desc) {
    display: block;
    @include font(700, 26, 31, 0.03, none);
  }
}
